<div *ngIf="!selected && !newVehicle && !selectedVehicle">
  <p>Hello, {{loggedUser.firstName}} {{loggedUser.lastName}}</p>
  <button (click)="editUser()" class="btn btn-primary">Edit Profile</button><br><br>
</div>

<div *ngIf="!newVehicle && !selected && !selectedVehicle">
  <button (click)="setAddVehicle()" class="btn btn-success">Add Vehicle</button>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>YEAR</th>
        <th>MAKE</th>
        <th>MODEL</th>
        <th>COLOR</th>
        <th>LICENSE PLATE</th>
        <th>UPDATE</th>
      </tr>
    </thead>
    <tbody >
      <tr  *ngFor="let vehicle of vehicles">
        <td>{{vehicle.year}}</td>
        <td>{{vehicle.make}}</td>
        <td>{{vehicle.model}}</td>
        <td>{{vehicle.color}}</td>
        <td>{{vehicle.licensePlate}}</td>
        <td><button (click)="displayVehicle(vehicle)" type="button" class="btn btn-warning">Update</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedVehicle">
  <form>
    <label for="year"><b> Year </b></label>
    <input type="text" placeholder="Enter Year" name="year" [(ngModel)]="selectedVehicle.year"/> <br> <br>
    <label for="make"><b> Make </b></label>
    <input type="text" placeholder="Enter Make" name="make" [(ngModel)]="selectedVehicle.make"/> <br> <br>
    <label for="model"><b> Model </b></label>
    <input type="text" placeholder="Enter Model" name="model" [(ngModel)]="selectedVehicle.model"/> <br> <br>
    <label for="color"><b> Color </b></label>
    <input type="text" placeholder="Enter Color" name="color" [(ngModel)]="selectedVehicle.color"/> <br> <br>
    <label for="licensePlate"><b> License Plate </b></label>
    <input type="text" placeholder="Enter License Plate" name="licensePlate" [(ngModel)]="selectedVehicle.licensePlate"/> <br> <br>

    <button (click)="updateVehicle(selectedVehicle)" type="submit" class="btn btn-success">Update</button>
    <button (click)="deleteVehicle(selectedVehicle.id)" type="submit" class="btn btn-danger">Delete</button>
    <button (click)="selectedVehicle=null" type="submit" class="btn btn-warning">Cancel</button>
  </form>
</div>

<div *ngIf="newVehicle">
  <form>
    <label for="year"><b> Year </b></label>
    <input type="text" placeholder="Enter Year" name="year" [(ngModel)]="newVehicle.year"/> <br> <br>
    <label for="make"><b> Make </b></label>
    <input type="text" placeholder="Enter Make" name="make" [(ngModel)]="newVehicle.make"/> <br> <br>
    <label for="model"><b> Model </b></label>
    <input type="text" placeholder="Enter Model" name="model" [(ngModel)]="newVehicle.model"/> <br> <br>
    <label for="color"><b> Color </b></label>
    <input type="text" placeholder="Enter Color" name="color" [(ngModel)]="newVehicle.color"/> <br> <br>
    <label for="licensePlate"><b> License Plate </b></label>
    <input type="text" placeholder="Enter License Plate" name="licensePlate" [(ngModel)]="newVehicle.licensePlate"/> <br> <br>

    <button (click)="addVehicle(newVehicle)" type="submit" class="btn btn-success">Add</button>
    <button (click)="newVehicle=null" type="submit" class="btn btn-danger">Cancel</button>

  </form>
</div>

<div *ngIf="selected">
  <form>
    <label for="firstName"><b> Firstname </b></label>
    <input type="text" name="firstName" [(ngModel)]="loggedUser.firstName" /> <br> <br>

    <label for="lastName"> <b>Lastname </b></label>
    <input type="text" placeholder="Enter Last Name" name="lastName" [(ngModel)]="loggedUser.lastName" /> <br> <br>

    <label for="street"><b>Street</b></label>
    <input type="text" placeholder="Enter street" name="street" id="street" [(ngModel)]="loggedUser.address.street" required><br><br>

    <label for="city"><b>City</b></label>
    <input type="text" placeholder="Enter city" name="city" id="city" [(ngModel)]="loggedUser.address.city" required><br><br>

    <label for="state"><b>State</b></label>
    <input type="text" placeholder="Enter state" name="state" id="state" [(ngModel)]="loggedUser.address.state" required><br><br>

    <label for="zip"><b>Zip</b></label>
    <input type="text" placeholder="Enter zip" name="zip" id="zip" [(ngModel)]="loggedUser.address.zip" required><br><br>

    <button (click)="updateUser(loggedUser)" type="submit" class="btn btn-success">Save changes</button>
    <button (click)="selected=false" type="submit" class="btn btn-danger">Cancel</button>

  </form>
</div>
