  <div class="container-fluid mt-3">
    <h1 class="text text-center">DISCUSSION FORM</h1>
    <div  *ngFor="let comment of comments" class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="d-block ui-w-40 rounded-circle" alt="" width="50">
                        <div class="media-body ml-3">
                          <h4>{{comment.user.firstName}} {{comment.user.lastName}}</h4>
                        </div>
                        <div class="text-muted small ml-3">
                            <div>Member since <strong>{{comment.user.createDate | date:'dd-MMM-yyyy'}}</strong></div>
                            <div><strong>{{countCommentsByUser(loggedUser.id)}}</strong> posts</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                  <p *ngIf="!selectedComment || comment.user.id != loggedUser.id">{{comment.content}}</p>
                  <form *ngIf="selectedComment && comment.user.id === loggedUser.id">
                    <textarea name="content" [(ngModel)]="comment.content"></textarea>
                  </form>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3">
                      <button (click)="setComment(comment)" *ngIf="comment.user.id === loggedUser.id && !selectedComment" type="button" class="btn btn-primary">&nbsp; Edit</button>
                      <button (click)="updateComment(comment)"  *ngIf="comment.user.id === loggedUser.id && selectedComment" type="button" class="btn btn-primary">&nbsp; Save</button>
                      <button (click)="deleteComment(comment.id)"  *ngIf="comment.user.id === loggedUser.id && selectedComment" type="button" class="btn btn-danger">&nbsp; Delete</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                <div class="media flex-wrap w-100 align-items-center">
                    <div class="text-muted small ml-3">
                        <div>Total <strong>{{comments.length}}</strong> posts</div>
                    </div>
                </div>
            </div>
            <div class="card-body">
              <form>
                <textarea name="content" [(ngModel)]="newComment.content"></textarea>
              </form>
            </div>
            <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                <div class="px-4 pt-3">
                  <button (click)="addComment(newComment)" type="button" class="btn btn-success">&nbsp; Add</button>
                </div>
            </div>
        </div>
    </div>
    </div>



  </div>
