.body {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-free-car-wash-poster-background-material-image_154303.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Set the height to cover the entire viewport */
  margin: 0; /* Remove default body margin */
}

.button-size{
  height:50px;
  width:250px;
}
