<form>
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="firstName"><b> Firstname </b></label>
    <input type="text" placeholder="Enter First Name" name="firstName" [(ngModel)]="newUser.firstName"/> <br> <br>

    <label for="lastName"> <b>Lastname </b></label>
    <input type="text" placeholder="Enter Last Name" name="lastName" [(ngModel)]="newUser.lastName" /> <br> <br>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" [(ngModel)]="newUser.email" required><br><br>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" [(ngModel)]="newUser.username" required><br><br>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" [(ngModel)]="newUser.password" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required><br><br>

    <label for="street"><b>Street</b></label>
    <input type="text" placeholder="Enter street" name="street" id="street" [(ngModel)]="newUser.address.street" required><br><br>

    <label for="city"><b>City</b></label>
    <input type="text" placeholder="Enter city" name="city" id="city" [(ngModel)]="newUser.address.city" required><br><br>

    <label for="state"><b>State</b></label>
    <input type="text" placeholder="Enter state" name="state" id="state" [(ngModel)]="newUser.address.state" required><br><br>

    <label for="zip"><b>Zip</b></label>
    <input type="text" placeholder="Enter zip" name="zip" id="zip" [(ngModel)]="newUser.address.zip" required><br><br>

    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button (click)="register(newUser)" type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a [routerLink]="['/login']">Login</a>.</p>
  </div>
</form>
