
<div class="container">
  <h1>Ratings</h1>
  <ul>
    <li *ngFor="let storeRat of storeRatings">
      <span><b>{{storeRat.user.firstName}} {{storeRat.user.lastName}}</b> {{storeRat.createDate | date:'yyy-MMM-dd'}}</span><br>
      <span>Rating: <ngb-rating class="gold-color" [readonly]="true" [(rate)]="storeRat.rating" [max]="5"/></span><br>
      {{storeRat.ratingComment}}

    </li>
  </ul>
</div>

<div *ngIf="storeRating.createDate==''" class="container mt-5">
      <h3>Rate This Store</h3>
      <form id="ratingForm">
        <div class="form-group">
          <label for="rating">Rating:</label>

          <ngb-rating class="sizing-2rem gold-color" [(rate)]="storeRating.rating" [max]="5" />

        </div>

        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" id="comment" name="comment" rows="3" [(ngModel)]="storeRating.ratingComment"></textarea>
        </div>

        <button (click)="addStoreRating()" type="submit" class="btn btn-primary">Submit Rating</button>
      </form>

</div><br><br>
