<div>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Store Name</th>
        <th>Phone </th>
        <th>Email</th>
        <th>Image URLs</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody >
      <tr  *ngFor="let store of stores">
        <td >{{store.name}}</td>
        <td> {{store.phone}}</td>
        <td>{{store.email}}</td>
        <td><img src={{store.imageUrl}} width="250px" height="200px"/></td>

        <!-- td><a [routerLink]="['/comment/{{store.id}}']">{{store.id}}</a></td -->
        <td><a [routerLink]="['/comment', store.id]">Reviews</a></td>

      </tr>
    </tbody>
  </table>
</div>
